!!! 5
%html
	%head
		%title Middleman
		%meta{:charset => "utf-8"}
		%meta{:name => "title", :content => "Tsumego Collections"}
		%meta{:name => "description", :content => "Improve your go skills through tsumego solving."}
		%meta{:name => "viewport", :content => "width=device-width"}
		%link{:href => "//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css", :rel => "stylesheet"}
		%link{:href => "stylesheets/style.css", :rel => "stylesheet"}
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		%script{:src => "javascripts/bootstrap.min.js"}

	%body
		= render_partial 'header'
		.container
			= yield
		= render_partial 'footer'
