#footer
	.container
		%footer
			&copy;
			#{link_to "Vít &lsquo;tasuki&rsquo; Brunner", "http://tasuki.org"}
			&mdash; Brought to you by
			#{link_to "TeX", "http://tug.org/"},
			#{link_to "Middleman", "http://middlemanapp.com/"},
			#{link_to "Bootstrap", "http://twitter.github.com/bootstrap/"}.
