#footer
	.container
		%footer
			:markdown
				&copy; [Vít &lsquo;tasuki&rsquo; Brunner](http://tasuki.org)
				&mdash; Brought to you by [TeX](http://tug.org),
				[Middleman](http://middlemanapp.com),
				[Bootstrap](http://twitter.github.com/bootstrap),
				[Vim](http://www.vim.org), and other cool technologies.
