%footer
	.container
		:markdown
			&copy; [Vít &lsquo;tasuki&rsquo; Brunner](https://tasuki.org)
			&mdash; Brought to you by [TeX](http://tug.org),
			[Middleman](https://middlemanapp.com),
			[Bootstrap](https://getbootstrap.com),
			[Vim](http://www.vim.org), and other cool technologies.
