.pad
	:markdown
		&copy; [Vít &lsquo;tasuki&rsquo; Brunner](https://tasuki.org)
		&mdash; Brought to you by [TeX](http://tug.org),
		[Middleman](https://middlemanapp.com),
		[Pure.css](https://purecss.io/),
		[Vim](https://www.vim.org), and other cool technologies.
