.navbar.navbar-inverse.navbar-fixed
	.navbar-inner
		.container
			%a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
			%a.brand Tsumego Collections
			.nav-collapse.collapse
				%ul.nav
					%li.active
						%a Collections
					%li
						%a How?
					%li
						%a FAQ
					%li
						%a Links

#banner
	.container
		.row
			%a#ad.span6{"href" => "ad"}
				Buy this space.
			#quote.span6
				%i.icon-quote-left
				%blockquote
					%p
						It is a matter of life and death,
						a road either to safety or to ruin.
						Hence it is a subject of inquiry
						which can on no account be neglected.
					%cite
						&mdash; Sun Tzu: The Art of War
