:markdown
	Tsumego Collections is a popular resource among go players. It ranks well
	in Google for "[tsumego][search]". The traffic is of high quality -- go
	players so desperate they're willing to <del>undergo torture</del> study
	tsumego to improve.

	You can get one exclusive banner ad (ie. there isn't going to be any other
	advertising on the website). Your service should be something relevant and
	valuable for go players (ie. no casinos). This will help you build brand
	awareness, bring visitors to your website, and make Google like you.  I'm
	looking for a long term partnership rather than a temporary ad. The price
	is negotiable. Please [contact me for details][mail].

	[search]: http://www.google.com/search?q=tsumego
	[mail]: mailto:vit.brunner@gmail.com?subject=Tsumego+Collections+sponsorship
