---
title: Frequently Asked Questions about Tsumego Collections
description: All you ever wanted to ask and were too shy to send an email.
---

.pure-g
	.pure-u-md-1-2
		:markdown
			**Q: I found a mistake, where should I report it?**
			<br/>
			A: There are a few unsolvable[^1] problems in the Cho Chikun
			collection. Some people also believe none of the Hatsuyo-ron
			problems have a solution, but it hasn't been proven yet.

			[^1]: As far as my weary eyes can see...

	.pure-u-md-1-2
		:markdown
			**Q: Why isn't Guan Zi Pu here?**
			<br/>
			A: Guan Zi Pu contains many duplicate problems. There are different
			answers involving ko/reductions which should be perused depending
			on the game situation. As such, I didn't find it suitable to
			include here. Nevertheless, you may download [Guan Zi Pu 1],
			[Guan Zi Pu 2], and [Guan Zi Pu 3].

			[Guan Zi Pu 1]: /books/gzp1.pdf
			[Guan Zi Pu 2]: /books/gzp2.pdf
			[Guan Zi Pu 3]: /books/gzp3.pdf

	.pure-u-md-1-2
		:markdown
			**Q: How do I become strong at go?**
			<br/>
			A: Read uncle [Benjamin's guide to become strong][benji]. And make
			sure you follow his advice!

			[benji]: http://senseis.xmp.net/?BenjaminTeuber/GuideToBecomeStrong

	.pure-u-md-1-2
		:markdown
			**Q: Where did you get the problems?**
			<br/>
			A: The Cho Chikun encyclopedia, I quite honestly can't tell. The
			classical problem collections are available over at [Uli's][uli].
			Sensei's library also has an overview of the [classical go problem
			books][senseis].

			[uli]:     http://www.u-go.net/classic/
			[senseis]: http://senseis.xmp.net/?ClassicalGoProblemBooks

	.pure-u-md-1-2
		:markdown
			**Q: Is it legal publishing problem collections like this?**
			<br/>
			A: I hope so (I am not publishing solutions, only board positions
			and most of the authors have been dead for quite a while).

	.pure-u-md-1-2
		:markdown
			**Q: How was the picture at the top created?**
			<br/>
			A: The [old picture](/images/goban.png) was raytraced using
			POV-Ray. The new picture is hand coded SVG!

	.pure-u-md-1-2
		:markdown
			**Q: But the problems are not interactive!**
			<br/>
			A: That's not a question! *Tasuki hits you with a fan.* You heard
			about [Tsumego Hero]? If you can get past the eye-bleeding visuals,
			the user experience is nice. Not on mobile, though!

			[Tsumego Hero]: https://tsumego-hero.com/
