.row
	.span6
		:markdown
			**Q: How do I view pdf files?**  
			A: For example using [Adobe Reader](http://get.adobe.com/reader/).

	.span6
		:markdown
			**Q: Is it legal publishing problem collections like this?**  
			A: I hope so (I am not publishing solutions, only board positions
			and most of the authors have been dead for quite a while).

	.span6
		:markdown
			**Q: I found a mistake, where should I report it?**  
			A: There are a few unsolvable (as far as my weary eyes can see)
			problems in the Cho Chikun collection. Some people also believe
			none of the Hatsuyo-ron problems have a solution, but it hasn't
			been proven yet.

	.span6
		:markdown
			**Q: Why isn't Guan Zi Pu here?**  
			A: The only version we found is severely lacking in quality.
			Nevertheless, you may download [Guan Zi Pu 1](books/gzp1.pdf),
			[Guan Zi Pu 2](books/gzp2.pdf), and [Guan Zi Pu 3](books/gzp3.pdf).
			These collections contain many repeating problems (take the first
			one as an example: 8 and 9, 11 and 12, 13 and 14 and 15, 17 and 18,
			etc etc. These mistakes are already in Uli's collection, which I
			used as a source.

	.span6
		:markdown
			**Q: How was the picture at the top created?**  
			A: The picture was raytraced using POV-Ray.

	.span6
		:markdown
			**Q: Is the POV-Ray source for the image available?**  
			A: Maybe.
