---
title: Tsumego Collections
description: It is a matter of life and death,
             a road either to safety or to ruin.
             Hence it is a subject of inquiry
             which can on no account be neglected.

books:
    -
        name: "Cho's enc. &ndash; Elementary"
        stars: 1
        file: cho-1-elementary
        problems: 900
    -
        name: "Cho's enc. &ndash; Intermediate"
        stars: 2
        file: cho-2-intermediate
        problems: 861
    -
        name: "Cho's enc. &ndash; Advanced"
        stars: 3
        file: cho-3-advanced
        problems: 792
    -
        name: "Gokyo Shumyo"
        stars: 3
        file: gokyoshumyo
        problems: 520
    -
        name: "Xuanxuan Qijing"
        stars: 4
        file: xxqj
        problems: 347
    -
        name: "Igo Hatsuyo-ron"
        stars: 5
        file: hatsuyoron
        problems: 183
---

%table.table.table-hover
	%thead
		%tr
			%th Collection
			%th.center Difficulty
			%th.center.default
				%abbr{:title => "A5 pdf for printing and larger screens"} Normal
			%th.center
				%abbr{:title => "A6 pdf for mobile devices"} Mobile
			%th.center Problems

	%tbody
		- current_page.data.books.each do |book|
			%tr
				%td=book.name
				%td.center
					- (0...book.stars).each do |i|
						%i.icon-star
				%td.center.default
					%a{:href => "/books/#{book.file}.pdf"} Normal
				%td.center
					%a{:href => "/books/#{book.file}-mobile.pdf"} Mobile
				%td.center=book.problems

.row
	.span6
		:markdown
			### 2018 anniversary update

			Hey yo, all the books have gotten refreshed for 2018: better
			layout, nicer wording, vectorized mobile version.

	.span6
		:markdown
			### Collections

			*Cho Chikun's Encyclopedia of Life and Death* is a wonderful
			progression which will take you **from an absolute beginner to mid
			dan level**.

			Next, we present you with the three **most famous classical tsumego
			collections**. *Gokyo Shumyo* deals mostly with patterns occuring
			often in real games. *XuanXuan Qijing* focuses on feeling and vital
			points, and the insanely difficult *Igo Hatsuyo-ron* is here just
			to make you cry.
