%table.table.table-hover
	%tr
		%th Collection
		%th Difficulty
		%th
			%abbr{:title => "Normal continuous pdf"} Single pdf
		%th
			%abbr{:title => "Double format suitable for printing"} Double pages
		%th
			%abbr{:title => "Smaller format for mobile devices"} Mobile
		%th Pages
		%th Problems

	%tr
		%td Cho's enc. &ndash; Elementary
		%td *
		%td
			%a{:href => "books/cho-1-elementary.pdf"} Single
		%td
			%a{:href => "books/cho-1-elementary-dbl.pdf"} Double
		%td
			%a{:href => "books/cho-1-elementary-mobile.pdf"} Mobile
		%td 77
		%td 900

	%tr
		%td Cho's enc. &ndash; Intermediate
		%td **
		%td
			%a{:href => "books/cho-2-intermediate.pdf"} Single
		%td
			%a{:href => "books/cho-2-intermediate-dbl.pdf"} Double
		%td
			%a{:href => "books/cho-2-intermediate-mobile.pdf"} Mobile
		%td 78
		%td 861

	%tr
		%td Cho's enc. &ndash; Advanced
		%td ***
		%td
			%a{:href => "books/cho-3-advanced.pdf"} Single
		%td
			%a{:href => "books/cho-3-advanced-dbl.pdf"} Double
		%td
			%a{:href => "books/cho-3-advanced-mobile.pdf"} Mobile
		%td 77
		%td 792

	%tr
		%td Gokyo Shumyo
		%td ***
		%td
			%a{:href => "books/gokyoshumyo.pdf"} Single
		%td
			%a{:href => "books/gokyoshumyo-dbl.pdf"} Double
		%td
			%a{:href => "books/gokyoshumyo-mobile.pdf"} Mobile
		%td 55
		%td 520
	%tr
		%td Xuanxuan Qijing
		%td ****
		%td
			%a{:href => "books/xxqj.pdf"} Single
		%td
			%a{:href => "books/xxqj-dbl.pdf"} Double
		%td
			%a{:href => "books/xxqj-mobile.pdf"} Mobile
		%td 38
		%td 347

	%tr
		%td Igo Hatsuyo-ron
		%td *****
		%td
			%a{:href => "books/hatsuyoron.pdf"} Single
		%td
			%a{:href => "books/hatsuyoron-dbl.pdf"} Double
		%td
			%a{:href => "books/hatsuyoron-mobile.pdf"} Mobile
		%td 27
		%td 183

%h3 Formats

%p There are formats
