---
title: Tsumego Collections
description: It is a matter of life and death,
             a road either to safety or to ruin.
             Hence it is a subject of inquiry
             which can on no account be neglected.

books:
    -
        name: "Cho's Elementary"
        stars: 1
        file: cho-1-elementary
        problems: 900
    -
        name: "Cho's Intermediate"
        stars: 2
        file: cho-2-intermediate
        problems: 861
    -
        name: "Cho's Advanced"
        stars: 3
        file: cho-3-advanced
        problems: 792
    -
        name: "Gokyo Shumyo"
        stars: 3
        file: gokyoshumyo
        problems: 520
    -
        name: "Xuanxuan Qijing"
        stars: 4
        file: xxqj
        problems: 347
    -
        name: "Igo Hatsuyo-ron"
        stars: 5
        file: hatsuyoron
        problems: 183
---

%table
	%thead
		%tr
			%th
				%abbr{:title => "A5 pdf for print and on-screen"} Booklet
			%th
				%abbr{:title => "A6 pdf for mobile devices"} Mobile
			%th.center Difficulty
			%th.center.problems Problems

	%tbody
		- current_page.data.books.each do |book|
			%tr
				%td.default
					%a{:href => "/books/#{book.file}.pdf"} #{book.name}
				%td
					%a{:href => "/books/#{book.file}-mobile.pdf"} Mobile
				%td.center
					- (0...book.stars).each do |i|
						%svg.icon{}
							%use{"xlink:href":"/images/icons.svg#icon-star"}
				%td.center.problems=book.problems

.pure-g
	.pure-u-md-1-2
		:markdown
			### The collections

			*Cho Chikun's Encyclopedia of Life and Death* is a wonderful
			progression which will take you **from an absolute beginner to mid
			dan level**.

			Next, we present you with the three **most famous classical tsumego
			collections**. *Gokyo Shumyo* deals mostly with patterns occuring
			often in real games. *XuanXuan Qijing* focuses on feeling and vital
			points, and the insanely difficult *Igo Hatsuyo-ron* is here just
			to make you cry.

	.pure-u-md-1-2
		:markdown
			### Gimme moaaar!

			Six books not enough for you? Olivier has created [101books]. False
			advertising -- there are only 60 books![^1] But hey, still highly
			recommended. There's lots more problems there than here,[^2] and the
			books include solutions.[^3]

			[^1]: Yes I know why 101! It the name of teh website!
			[^2]: Almost 13 thousand as of late 2024. Can you imagine!
			[^3]: In a hard-to-read format! So you don't get too lazy!

			[101books]: https://101books.github.io/
