%table.table.table-hover
	%thead
		%tr
			%th Collection
			%th Difficulty
			%th
				%abbr{:title => "Normal continuous pdf"} Single pdf
			%th
				%abbr{:title => "Double format suitable for printing"} Double pages
			%th
				%abbr{:title => "Smaller format for mobile devices"} Mobile
			%th Problems

	%tbody
		%tr
			%td
				Cho's enc. &ndash; Elementary
			%td
				%i.icon-star
			%td
				%a{:href => "books/cho-1-elementary.pdf"} Single
			%td
				%a{:href => "books/cho-1-elementary-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-1-elementary-mobile.pdf"} Mobile
			%td 900

		%tr
			%td Cho's enc. &ndash; Intermediate
			%td
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/cho-2-intermediate.pdf"} Single
			%td
				%a{:href => "books/cho-2-intermediate-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-2-intermediate-mobile.pdf"} Mobile
			%td 861

		%tr
			%td Cho's enc. &ndash; Advanced
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/cho-3-advanced.pdf"} Single
			%td
				%a{:href => "books/cho-3-advanced-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-3-advanced-mobile.pdf"} Mobile
			%td 792

		%tr
			%td
				Gokyo Shumyo
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/gokyoshumyo.pdf"} Single
			%td
				%a{:href => "books/gokyoshumyo-dbl.pdf"} Double
			%td
				%a{:href => "books/gokyoshumyo-mobile.pdf"} Mobile
			%td 520

		%tr
			%td Xuanxuan Qijing
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/xxqj.pdf"} Single
			%td
				%a{:href => "books/xxqj-dbl.pdf"} Double
			%td
				%a{:href => "books/xxqj-mobile.pdf"} Mobile
			%td 347

		%tr
			%td Igo Hatsuyo-ron
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/hatsuyoron.pdf"} Single
			%td
				%a{:href => "books/hatsuyoron-dbl.pdf"} Double
			%td
				%a{:href => "books/hatsuyoron-mobile.pdf"} Mobile
			%td 183

.row
	.span6
		:markdown
			### Formats

			The default **Single pdf** format is easiest to use and suitable
			for on-screen viewing.

			The **Double pages** version was intended for A5 booklet printing.
			Use an A4 printer to print the first half of the pages.  Then turn
			the stack of papers upside down and print the second half of the
			pages. After that, staple in the middle, fold in half, and enjoy
			your fancy new brochure.

			[Ruben Berenguel](http://www.mostlymaths.net/) assembled
			**mobile-friendly** versions suited for small screens.

	.span6
		:markdown
			### Collections

			*Cho Chikun's Encyclopedia of Life and Death* is a wonderful
			progression which will take you **from an absolute beginner to mid
			dan level**.

			Next, we present you with the three **most famous classical tsumego
			collections**. *Gokyo Shumyo* deals mostly with patterns occuring
			often in real games. *XuanXuan Qijing* focuses on feeling and vital
			points, and the insanely difficult *Igo Hatsuyo-ron* is here just
			to make you cry.

			*Guanzi Pu* is popularly demanded, but the only version we found is
			severely lacking in quality. It contains many duplicate problems
			and possibly other inaccuracies. Nevertheless, you may download
			[Guanzi Pu 1](books/gzp1.pdf), [Guanzi Pu 2](books/gzp2.pdf), and
			[Guanzi Pu 3](books/gzp3.pdf).
