%table.table.table-hover
	%tr
		%th Collection
		%th Difficulty
		%th
			%abbr{:title => "Normal continuous pdf"}
				Single pdf
		%th
			%abbr{:title => "Double format suitable for printing (see below)"}
				Double pages
		%th Pages
		%th Problems
	%tr
		%td Cho's enc. &ndash; Elementary
		%td *
		%td
			%a Single
		%td
			%a Double
		%td 77
		%td 900
	%tr
		%td Cho's enc. &ndash; Intermediate
		%td **
		%td
			%a Single
		%td
			%a Double
		%td 78
		%td 861
	%tr
		%td Cho's enc. &ndash; Advanced
		%td ***
		%td
			%a Single
		%td
			%a Double
		%td 77
		%td 792
	%tr
		%td Gokyo Shumyo
		%td ***
		%td
			%a Single
		%td
			%a Double
		%td 55
		%td 520
	%tr
		%td Xuanxuan Qijing
		%td ****
		%td
			%a Single
		%td
			%a Double
		%td 38
		%td 347
	%tr
		%td Igo Hatsuyo-ron
		%td *****
		%td
			%a Single
		%td
			%a Double
		%td 27
		%td 183

%h3 Formats

%p There are formats
