%table.table.table-hover
	%thead
		%tr
			%th Collection
			%th.center Difficulty
			%th.center.default
				%abbr{:title => "Simple pdf"} Normal
			%th.center
				%abbr{:title => "Suitable for printing a booklet"} Booklet
			%th.center
				%abbr{:title => "Smaller format for mobile devices"} Mobile
			%th.center Problems

	%tbody
		%tr
			%td
				Cho's enc. &ndash; Elementary
			%td.center
				%i.icon-star
			%td.center.default
				%a{:href => "books/cho-1-elementary.pdf"} Normal
			%td.center
				%a{:href => "books/cho-1-elementary-dbl.pdf"} Double
			%td.center
				%a{:href => "books/cho-1-elementary-mobile.pdf"} Mobile
			%td.center 900

		%tr
			%td Cho's enc. &ndash; Intermediate
			%td.center
				%i.icon-star
				%i.icon-star
			%td.center.default
				%a{:href => "books/cho-2-intermediate.pdf"} Normal
			%td.center
				%a{:href => "books/cho-2-intermediate-dbl.pdf"} Double
			%td.center
				%a{:href => "books/cho-2-intermediate-mobile.pdf"} Mobile
			%td.center 861

		%tr
			%td Cho's enc. &ndash; Advanced
			%td.center
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td.center.default
				%a{:href => "books/cho-3-advanced.pdf"} Normal
			%td.center
				%a{:href => "books/cho-3-advanced-dbl.pdf"} Double
			%td.center
				%a{:href => "books/cho-3-advanced-mobile.pdf"} Mobile
			%td.center 792

		%tr
			%td
				Gokyo Shumyo
			%td.center
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td.center.default
				%a{:href => "books/gokyoshumyo.pdf"} Normal
			%td.center
				%a{:href => "books/gokyoshumyo-dbl.pdf"} Double
			%td.center
				%a{:href => "books/gokyoshumyo-mobile.pdf"} Mobile
			%td.center 520

		%tr
			%td Xuanxuan Qijing
			%td.center
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td.center.default
				%a{:href => "books/xxqj.pdf"} Normal
			%td.center
				%a{:href => "books/xxqj-dbl.pdf"} Double
			%td.center
				%a{:href => "books/xxqj-mobile.pdf"} Mobile
			%td.center 347

		%tr
			%td Igo Hatsuyo-ron
			%td.center
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td.center.default
				%a{:href => "books/hatsuyoron.pdf"} Normal
			%td.center
				%a{:href => "books/hatsuyoron-dbl.pdf"} Double
			%td.center
				%a{:href => "books/hatsuyoron-mobile.pdf"} Mobile
			%td.center 183

.row
	.span6
		:markdown
			### Formats

			The default **Normal, single page** pdf is the easiest to use and
			suitable for on-screen viewing. Pick this one!

			The **Booklet, double page pdf** is meant for A5 booklet printing.
			Use an A4 printer to print the first half of the pages.  Then turn
			the stack of papers upside down and print the second half of the
			pages. After that, staple in the middle, fold in half, and enjoy
			your fancy new brochure.

			[Ruben Berenguel](http://www.mostlymaths.net/) assembled
			**mobile-friendly** versions suited for small screens.

	.span6
		:markdown
			### Collections

			*Cho Chikun's Encyclopedia of Life and Death* is a wonderful
			progression which will take you **from an absolute beginner to mid
			dan level**.

			Next, we present you with the three **most famous classical tsumego
			collections**. *Gokyo Shumyo* deals mostly with patterns occuring
			often in real games. *XuanXuan Qijing* focuses on feeling and vital
			points, and the insanely difficult *Igo Hatsuyo-ron* is here just
			to make you cry.

			*Guanzi Pu* is popularly demanded, but the only version we found is
			severely lacking in quality. It contains many duplicate problems
			and possibly other inaccuracies. Nevertheless, you may download
			[Guanzi Pu 1](books/gzp1.pdf), [Guanzi Pu 2](books/gzp2.pdf), and
			[Guanzi Pu 3](books/gzp3.pdf).
