%table.table.table-hover
	%thead
		%tr
			%th Collection
			%th Difficulty
			%th
				%abbr{:title => "Normal continuous pdf"} Single pdf
			%th
				%abbr{:title => "Double format suitable for printing"} Double pages
			%th
				%abbr{:title => "Smaller format for mobile devices"} Mobile
			%th Problems

	%tbody
		%tr
			%td
				Cho's enc. &ndash; Elementary
				%span.label.label-recommended Recommended
			%td
				%i.icon-star
			%td
				%a{:href => "books/cho-1-elementary.pdf"} Single
			%td
				%a{:href => "books/cho-1-elementary-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-1-elementary-mobile.pdf"} Mobile
			%td 900

		%tr
			%td Cho's enc. &ndash; Intermediate
			%td
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/cho-2-intermediate.pdf"} Single
			%td
				%a{:href => "books/cho-2-intermediate-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-2-intermediate-mobile.pdf"} Mobile
			%td 861

		%tr
			%td Cho's enc. &ndash; Advanced
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/cho-3-advanced.pdf"} Single
			%td
				%a{:href => "books/cho-3-advanced-dbl.pdf"} Double
			%td
				%a{:href => "books/cho-3-advanced-mobile.pdf"} Mobile
			%td 792

		%tr
			%td
				Gokyo Shumyo
				%span.label.label-recommended Recommended
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/gokyoshumyo.pdf"} Single
			%td
				%a{:href => "books/gokyoshumyo-dbl.pdf"} Double
			%td
				%a{:href => "books/gokyoshumyo-mobile.pdf"} Mobile
			%td 520

		%tr
			%td Xuanxuan Qijing
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/xxqj.pdf"} Single
			%td
				%a{:href => "books/xxqj-dbl.pdf"} Double
			%td
				%a{:href => "books/xxqj-mobile.pdf"} Mobile
			%td 347

		%tr
			%td Igo Hatsuyo-ron
			%td
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
				%i.icon-star
			%td
				%a{:href => "books/hatsuyoron.pdf"} Single
			%td
				%a{:href => "books/hatsuyoron-dbl.pdf"} Double
			%td
				%a{:href => "books/hatsuyoron-mobile.pdf"} Mobile
			%td 183

%h3 Formats

%p There are formats
