---
title: Links to other cool tsumego resources
description: Problem sources, cool tips on studying tsumego, and other info.
---

:markdown
	* [Uli's classical problems][uli] -- the source for some of the pdfs

	* [Classical go problem books on Sensei's library][senseis] -- overview of
	classical collections, with some links to individual problem collection pages
	that contain more info

	* [Benjamin's guide to become strong][benji] -- priceless, Benjamin knows what
	he's talking about

	* [KGS Go Server][kgs] -- used to be my second home

	[uli]:     http://www.u-go.net/classic/
	[senseis]: http://senseis.xmp.net/?ClassicalGoProblemBooks
	[benji]:   http://senseis.xmp.net/?BenjaminTeuber/GuideToBecomeStrong
	[kgs]:     http://www.gokgs.com/
